<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                {{#each images }}
                <button href="#" class="btn btn-lg"><img style="width: 300px" value={{persId2}} src={{image_url}} alt={{alt}}></button>
                {{/each}}
            </div>
        </div>
    </div>
</div>
