<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                {{#each images }}
                <button href="#" class="btn btn-primary"><img style="width: 150px" value={{persId}} src={{image_url}} alt={{alt}}></button>
                {{/each}}
            </div>
        </div>
    </div>
</div>