<form id="signup" name="signup">
    <label for="email">Email</label>
    <input class="text" name="email" id="email" type="email" />
    <label for="name">Name</label>
    <input name="name" id="name" type="text" />
    <label for="password">Password</label>
    <input name="password" id="password" type="password" />
    <button class="btn btn-primary" type="submit" value="Sign Up">Sign Up</button>
</form>

<script src="js/signup.js"></script>